<div class="first">
	<%= link_to image_tag("thumbsup.png", :alt => "upvote"), vote_path %>
	<p class="num_votes"><%= type.votes.size %></p>
	<%= link_to image_tag("thumbsdown.png", :alt => "downvote"), vote_path %>
</div>