/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

img {
	max-width: 15px;
	margin: 5px;
}

.voting {
	width: 30px;
	float: left;
}

.num_votes {
	margin: 5px;
}